.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.125rem;
  border-bottom: 2px solid transparent;

  &:hover {
    border-bottom: 2px solid var(--border-color);
  }

  &.disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      border-bottom: 2px solid transparent;
    }
  }

  &.selected {
    color: var(--bg-color-cta);
    border-bottom: 2px solid var(--border-color);
  }
}

.loading-state {
  height: 20vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
