.product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 0.125rem;
  border-bottom: 2px solid transparent;
}

.loading-state {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product:hover {
  border-bottom: 2px solid var(--border-color);
}

.product.disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.product.selected {
  color: coral;
  border-bottom: 2px solid var(--border-color);
}

.product.disabled:hover {
  border-bottom: none;
}
