:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-color: rgba(255, 255, 255, 0.87);
  --bg-color-main: #242424;
  --bg-color-cta: #ff7518;
  --border-color: rgba(255, 255, 255, 0.87);
  --error-color: orangered;

  --sm: 600px;
  --md: 900px;
  --lg: 1200px;
  --xl: 1800px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  color: var(--text-color);
  background-color: var(--bg-color-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-color);
}

.error {
  color: orangered !important;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}

@media screen and (min-width: 1200px) {
  .information-display {
    .buttons-wrapper {
      flex-direction: row;
      gap: 0.5rem;
    }
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 0.75rem;
  }

  .responsive-results-container {
    flex-direction: column;
  }

  input {
    font-size: 0.75rem;
  }

  button {
    font-size: 0.75rem;
    padding: 0.375rem;
  }

  .product-display {
    padding: 0.5rem;
  }
}

@media screen and (max-width: 600px) {
  .product-display {
    padding: 0.25rem;
  }

  .information-display {
    padding: 0.5rem;
  }

  input {
    font-size: 0.5rem;
  }

  body {
    font-size: 0.5rem;
  }

  button {
    font-size: 0.5rem;
    padding: 0.25rem;
  }
}
